{
 "extends": ["prettier", "airbnb"],
 "plugins": ["prettier"],
 "rules": {
   "prettier/prettier": ["error"],
   "quotes": [1, "double", { "avoidEscape": false }],
   "no-unused-vars": "off",
   "comma-dangle": "off",
   "arrow-parens": ["error", "as-needed"],
   "no-console": ["warn"]
 },
 "env": {
   "node": true
 }
}
